<!DOCTYPE html>
<html>
	<head>
		<title>Product Form</title>
		<style>
			fieldset{
				background-color: white;
				width: 300px;
			}
			body{
				background-color: whitesmoke;
				
				padding-left: 600px;
				
			}
			input:hover{
				border-color: red;
			}
		</style>
	</head>
	<body>
		<fieldset>
		<h1 style="color: red;">Edit-Product Form</h1>
		<form th:action="@{'/edit-product/'+${id}}" th:object="${product}" method="post">
			<label>Product name :</label>
			<input type="text" name="name" id="name" th:field="${product.name}" ><br><br>
			
			<label>Product madIn :</label>
			<input type="text" name="madin"  id="madin" th:field="${product.madin}" ><br><br>
			<label>Product Brand :</label>
			<input type="text" name="brand"  id="brand" th:field="${product.brand}" ><br><br>
			<label>Product price :</label>
			<input type="number" name="price" id="price" th:field="${product.price}" ><br><br>
			<label>Product Quantity :</label>
			<input type="number" name="quantity" id="quantity" th:field="${product.quantity}" ><br><br>
			<label>Product disscount :</label>
			<input type="number" name="disscount" id="disscount" th:field="${product.disscount}"><br><br>
			
			<button type="submit" >Update</button>
			
			<p><a href="contact.html">Contact Us</a>&nbsp;|&nbsp;<a href="about.html">About Us</a></p>
		</form></fieldset>
	</body>
</html>
